<div id="all-tweets">

    <p>Welcome, {{currentUser}} (<a href="#" id="logout-link">logout</a>)</p>

    <div>
        <div class="error"></div>
    </div>

    <h1><a href="#" id="my-tweets-link">My Tweets</a> All Tweets <a href="#" id="following-tweets-link">Following Tweets</a></h1>

    {{> all-tweet}}

</div>